.sidebar-test-run {
    border-radius: 3px;
}

.sidebar-test-run div {
    padding: 8px;
}

.sidebar-test-run:hover {
    background-color: #DEDEDE;
    cursor: pointer;
}

.sidebar-test-run a,
.sidebar-test-run a:hover {
    color: #333;
    text-decoration: none;
}

#test-run-items .test-run-actions {
    margin-left: 287px;
}

.test-run-actions {
    background: -webkit-linear-gradient(top, rgba(222, 222, 222, 0.9) 0%, rgba(222, 222, 222, 1) 100%);
    display: none;
    opacity: 1;
    padding: 5px 0 5px 20px !important;
    position: absolute;
    margin-left: 300px;


    img {
        opacity: 0.5;
        width: 18px;
        height: 18px;
    }

    img:hover {
        opacity: 1;
    }
}